<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ site.siteDescription }}" />
    <meta name="theme-color" content="#0f766e" />

    {{#if site.siteIcon}}
    <link rel="icon" href="/content/uploads{{site.siteIcon}}" />
    {{/if}}

    {{#if homeRoute}}
    <title>{{ site.siteTitle }}</title>
    {{#else}}
    <title>{{ metadata.title }} | {{ site.siteTitle }}</title>
    {{/if}}

    <link rel="stylesheet" href="/content/themes/jade/assets/css/style.css" />
    <link rel="stylesheet" href="/content/themes/jade/assets/css/katex.min.css" />

    {{ site.headerCode }}
</head>
